{% load ui_extras %}
<div class="container-fluid py-4">
  <div class="clinic-page-shell">
    <div data-pharmacy-stats>
      {% include "clinic/pharmacy/sales/includes/stats_cards.html" %}
    </div>

    <div class="row g-4">
      <div class="col-xl-4" data-pharmacy-add-form-shell>
        {% include "clinic/pharmacy/sales/includes/add_form_card.html" %}
      </div>

      <div class="col-xl-8">
        <div data-pharmacy-cart-card>
          {% include "clinic/pharmacy/sales/includes/cart_card.html" %}
        </div>
        <div data-pharmacy-checkout-card>
          {% include "clinic/pharmacy/sales/includes/checkout_form_card.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
